*{
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 30px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    width: 400px;
    height: 40px;
    margin-top: 30px;
    padding-left: 40px;
    border-radius: 20px;
    opacity: 0.8;
    border: 1px solid rgb(214, 218, 219);
    
}

footer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    justify-content: flex-end;
    background-color: rgb(243, 244, 240);
    color: gray;
    margin-top: 274px;
}

.connexion{
    background-color: #4285F4;
    color: white;
    padding: 6px 8px 6px 8px;
    margin-top: 10px;
    margin-left: 10px;
    font-weight: 600;
    text-decoration: none;
}

.gray {
    background-color: rgb(243, 243, 243);
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 20px;
    border: none;
    color: rgb(64, 64, 64);
}

.blank{
    flex-basis: 30%;
}

#link{
    text-decoration: none;
    font-size: small;
}

#link:hover{
    text-decoration: underline;
}

#link:visited{
    color: black;
}

#logo {
    margin-top: 40px;
}

#searchbar{
    align-self: center;
}

#icon {
    position: absolute;
    margin-top: 44px;
    margin-left: 12px;
    color: gray;
    min-width: 50px;
}

#country, #other{
    border: 1px solid rgb(231, 233, 226);
    border-collapse: collapse;
    padding: 10px 10px 10px 10px;
    align-self: stretch;
}

#other{
    display: flex;
    flex-direction: row;
    align-self: stretch;
    flex-basis: 100%;
    justify-content: space-between;
}


#link_footer{
    color: gray;
    text-decoration: none;
}

#link_footer:hover{
text-decoration: underline;
}

#link_footer:active{
    color: red;
}